
.checkout__components{
    display: flex;
    flex-direction: row;
}
.row__checkout__components{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.checkout__components img{
    max-height: 220px;
    margin: 20px;
    object-fit: contain;
    margin-bottom: 15px;
}

.remove__checkout{
    margin-top: 50px;
}
.checkout__components .remove__checkout button{    
    border-radius: 2px;
    width: 30%;
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}